<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="product">
	<!-- 물품 넣기 -->
	 <insert id="product_Insert" useGeneratedKeys="true" keyProperty="Product_id">
  		insert into S_product(P_name, P_price, P_stock, P_expl, M_id) values(#{P_name}, #{P_price}, #{P_stock}, #{P_expl}, #{M_id})
  	</insert>	
</mapper>